#body-container {
background-image: -ms-linear-gradient(right, #0B0E10 0%, #424756 25%, #8AAAC1 50%, #424756 75%, #0B0E10 100%);
background-image: -moz-linear-gradient(right, #0B0E10 0%, #424756 25%, #8AAAC1 50%, #424756 75%, #0B0E10 100%);
background-image: -o-linear-gradient(right, #0B0E10 0%, #424756 25%, #8AAAC1 50%, #424756 75%, #0B0E10 100%);
background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #0B0E10), color-stop(0.25, #424756), color-stop(0.5, #8AAAC1), color-stop(0.75, #424756), color-stop(1, #0B0E10));
background-image: -webkit-linear-gradient(right, #0B0E10 0%, #424756 30%, #8AAAC1 50%, #424756 71%, #0B0E10 100%);
height: 2000px;}
#content {background-color: lightgray; padding: 20px; width:1000px; margin:0 auto;}
a, a:visited {color: blue; font-weight: bold;}
a:hover {color: red;}

.black-bg {background-color: black;}

.hidden {display: none;}
#signupForm #pagescont label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}
.error{
    color:red;   
}



.buttonR {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 6px 18px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.buttonR:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   cursor: pointer;
   }
.buttonR:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
