body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	background: #AE4FFF;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
	margin-top:20px;
  display: block; 
  height:auto;
  position: relative; 
  width: 1100px;
}



#left
{
width:205px;
float:left;
margin-right:20px;
}

#center
{
	float:left;
	width:630px;
	margin-right:20px;
}

#right
{
	float:left;
width:205px;	
	
}




.lefttop
{
	width:100%;
-webkit-border-radius: 20px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius: 20px;
-moz-border-radius-topleft: 5px;
border-radius: 20px;
border-top-left-radius: 5px;
background-color:#FFF;
padding:6px;
margin:4px;
}

.leftbottom
{
		width:100%;
-webkit-border-radius: 20px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius: 20px;
-moz-border-radius-bottomleft: 5px;
border-radius: 20px;
border-bottom-left-radius: 5px;
background-color:#FFF;	
padding:6px;
margin:4px;
}

.righttop
{
		width:100%;
-webkit-border-radius: 20px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius: 20px;
-moz-border-radius-topright: 5px;
border-radius: 20px;
border-top-right-radius: 5px;
background-color:#FFF;	
padding:6px;
margin:4px;
}
.rightbottom
{
		width:100%;
-webkit-border-radius: 20px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius: 20px;
-moz-border-radius-bottomright: 5px;
border-radius: 20px;
border-bottom-right-radius: 5px;
background-color:#FFF;	
padding:6px;
margin:4px;
}

.bigmainbox
{
		width:100%;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;	
background-color:#FFF;	
padding:6px;
margin:4px;
	
}




p {text-align: left;}